name: Frontend CI/CD

on:
  push:
    branches: [ "main" ]

jobs:
  deploy:
    runs-on: ubuntu-latest  

    steps:
      - name: Checkout frontend code
        uses: actions/checkout@v3

      - name: Rebuild frontend
        run: |
          docker compose up --build -d 
